<!DOCTYPE html>
<html lang="en">

<style>
    body{
        background-image: url('/media/answers_img/background.png');
        background-size:cover;
        background-repeat: no-repeat;
       
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <nav class="m-5">
        <a href="/"><img src="/media/answers_img/logo.png" width="200" height="66" alt=""></a>
    </nav>
    {% block style %}
  <div style="position: absolute; top: -20px; left: 40px;" class="container">
        <h1 class="text-info" style="margin-top: 300px; color: #fff;"> Innovatorlar va
            innovatsiyalar <br> ishlab
            chiqaruvchi maydon</h1>
        <p style="font-weight: bolder;" class="text-white"> Online testdan o'ting va <span class="text-">Grand</span> kursimizda o'qing</p>
     {% if request.user.is_superuser %}       
        <a href="{% url 'main:view_results' %}" style="border-radius: 30px; width: 300px;" class="btn btn-info mt-5"><h4 class="">Natijalarni ko'rish</h4></a>
    {% endif %}    
        <a href="{% url 'main:register' %}" style="border-radius: 30px; width: 300px;" class="btn btn-info mt-5"><h4 class="">Testni Boshlash</h4></a>
   
   
    </div>
        
    {% endblock style %}
        

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>